
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutASMSPages.cshtml";
}
<br />
<br />
<h3>Adres Bilgileriniz</h3>

<div>
    <a class="btn work" role="button" href="/Address/AddAddress">Yeni Adres Ekle</a>
</div>
 